@media ( max-width: 1300px )
  .newsletter
    &-wrapper
      padding: 100px 150px 100px 150px

@media ( max-width: 1200px )
  .container
    max-width: 960px
  .collection
    margin-bottom: 79px
    &-container
      max-width: 960px
    &-wrapper
      flex-direction: column
    &-photo
      margin-right: 0
      margin: auto
      margin-bottom: 40px
    &-text
      max-width: 672px
      margin-bottom: 24px
  .stories
    &-container
      flex-direction: column
      align-items: center
    &-info
      margin: auto
      max-width: 900px
    &-container
      flex-direction: column
      padding-top: 79px
    &-info
      margin: auto
      max-width: 900px
      display: flex
      flex-direction: column
      align-items: center
    &-text
      max-width: 882px
      margin-top: 0
      margin-bottom: 36px
      text-align: center
    &-title
      text-align: center
      margin-top: 24px
      margin-bottom: 16px
    &-tabs
      margin-bottom: 36px
      &__next
        margin: 0
  .hero
    &-container
      margin-bottom: 80px
  .trend
    &-container
      max-width: 960px
    &-bottom
      &__card
        &:nth-child(8), &:nth-child(7)
          margin: 0
          margin-right: auto
          margin-left: auto
  .reviews
    &-container
      max-width: 960px
      margin: auto
  .newsletter
    &-wrapper
      padding: 72px 166px 80px 166px
      flex-direction: column
      text-align: center
    &__title
      margin-bottom: 14px
    &__text
      margin-bottom: 56px
@media ( max-width: 1100px )
  .footer
    padding-top: 84px
    padding-bottom: 80px
    &-info
      flex-wrap: wrap
    &__block
      flex-basis: 180px
      margin-bottom: 17px
@media ( max-width: 976px )
  .container
    max-width: 850px
  .collection
    &-container
      max-width: 850px
  .modal
    &__dialog
      padding-left: 55px
      padding-right: 55px
      width: 80%
@media ( max-width: 920px )
  .container
    max-width: 850px
  .collection
    &-container
      max-width: 850px
  .header
    background-color: #fff
    &__mobile
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 9999
    &-wrapper
      display: flex
      justify-content: space-between
      align-items: center
    &-list
      align-items: center
      justify-content: space-between
      flex-direction: row
      padding: 0
      margin: 0
    &-button
      padding: 9px 101px
      width: 100%
    &__nav
      margin: 0
    &-item
      margin-bottom: 20px
      &__link
        margin: 0
    &-close
      display: block
      position: absolute
      top: 10px
      right: 20px
      cursor: pointer
  .mobile__close
    width: 16px
    height: 16px
  .button
    &-menu
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 22px
      height: 17px
      padding: 0
      background-color: transparent
      border: none
      outline: none
      cursor: pointer
      &__line
        width: 22px
        height: 2.2px
        background: #3A4C66
        border-radius: 10px
  .navbar
    &__menu
      padding: 36px 24px
      display: none
      position: fixed
      left: 50%
      transform: translateX(-50%)
      right: 0
      bottom: 0
      top: 10px
      background-color: #fff
      width: 94%
      height: 170px

      &--visible
        display: block

  .hero
    margin-top: 102px
    &-info
      padding: 50px 0 46px 50px
    &-text
      max-width: 600px
  .trend
    &-container
      max-width: 850px

@media ( max-width: 900px )
  .trend
    margin-bottom: 81px
    &-container
      max-width: 608px
    &-bottom
      &__card
        width: 280px
        height: 450px
        margin-bottom: 24px
        &:nth-child(8), &:nth-child(7)
          margin: 0
@media ( max-width: 924px )
  .footer
    &-info
      justify-content: space-evenly
    &__block
      margin-bottom: 27px
@media ( max-width: 768px )
  .container
    width: 647px
  .header
    padding: 26px 0 18px 0
    margin-bottom: 30px
  .hero
    &-container
      border-radius: 8px
      overflow: hidden
      max-width: 729px
    &-info
      padding: 36px 0 36px 28px
      background-position: 63% 50%
    &-title
      font-size: 48px
      line-height: 60px
      margin-bottom: 21px
    &-badges
      margin-bottom: 24px
    &-text
      font-size: 18px
      line-height: 32px
      max-width: 433px
      margin-bottom: 35px
    &-button
      margin-bottom: 43px
  .hero-advantages__text
    margin-right: 22px
  .collection
    &-info
      margin: auto
    &-photo
      margin-bottom: 26px
  .trend
    margin-bottom: 74px
    &-bottom
      &__textp
        max-width: 224px
      &__title
        margin: 17px 10px 3px 10px
      &__info
        max-width: 258px
        margin: 0px 0px 0px 11px
      &__card
        margin-bottom: 38px
    &-top
      flex-direction: column
      align-items: center
      margin-bottom: 55px
    &-title
      margin-bottom: 27px
    &-category
      &__one
        margin: 0
  .swiper
    &-title
      margin-bottom: 49px
    &-text
      max-width: 611px
      height: 210px
      overflow: auto
    &-icon
      margin-bottom: 39px
  .stories
    margin-bottom: 80px
    &-title
      margin-top: 24px
      margin-bottom: 16px
    &-text
      max-width: 568px
      margin-bottom: 36px
    &-tabs
      margin-bottom: 36px
    &-slider
      width: 682px
  .block, .card
    width: 332px
  .swiper-slide__image
    width: 322px
  .swiper-slide__text
    padding: 20px 42px 20px 20px
    width: 322px
  .footer
    padding-top: 65px
    &-container
      max-width: 648px
    &-main
      margin-right: 43px
    &-info
      margin-right: -17px
      justify-content: start
      width: 726px
    &__block
      margin-right: 13px

@media ( max-width: 745px )
  .collection
    &-photo
      grid-template-columns: 1fr 1fr
      grid-template-rows: 230px 230px
      grid-column-gap: 14px
      grid-row-gap: 14px
    &-container
      width: 90%
  .stories
    &-slider
      width: 600px
      height: 407px
  .block, .card
    width: 280px
    height: 407px
  .swiper-slide__image
    width: 270px
    height: 277px
  .swiper-slide__text
    padding: 20px 10px 20px 20px
    width: 270px
    height: 150px
  .swiper-slide__about
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.2px
    margin-bottom: 17px

@media ( max-width: 700px )
  .hero
    &-info
    &-title
      max-width: 400px
      font-size: 40px
      line-height: 54px
    &-text
      max-width: 368px
      font-size: 14px
      line-height: 26px
      margin-bottom: 35px
    &-button
      font-size: 14px
      line-height: 20px
  .footer
    &-container
      max-width: 500px
      margin: auto
      flex-direction: column
    &-main
      order: 1
    &-info
      order: -1
      width: auto
      max-width: 506px
      justify-content: space-between
    &__block
      flex-basis: 158px
    &-main
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      margin: auto
  .modal
    &__dialog
      padding-left: 55px
      padding-right: 55px
@media ( max-width: 666px )
  .trend
    &-container
      max-width: 600px
    &-bottom
      &__card
        width: 260px
        height: 450px

@media ( max-width: 665px )
  .stories
    &-slider
      height: 839px
      width: 350px
  .blocks
    flex-direction: column
    align-items: center
  .block, .card
    width: 350px
  .swiper-slide__image
    width: 340px
    height: 277px
  .swiper-slide__text
    width: 340px
    height: 150px

@media ( max-width: 600px )
  .trend
    &-container
      max-width: 500px
    &-bottom
      &__card
        width: 220px
        height: 380px
      &__background
        height: 280px
        padding: 100px 10px 10px 10px
      &__textp
        font-size: 17px
        line-height: 20px
  .card
    &-image
      height: 280px

@media ( max-width: 583px )
  .collection
    &-photo
      grid-template-columns: 1fr 1fr
      grid-template-rows: 225px 145px
      &__new
        &--row
          grid-column: 1 / 3
  .swiper
    &-container
      // max-width: 470px
    &-text
      height: 400px
      padding: 0 30px 0 30px
  .hero
    &-title
      max-width: 325px
      font-size: 32px
      line-height: 40px
    &-text
      max-width: 288px
    &-advantages
      display: flex
      flex-direction: column
      align-items: flex-start
      &__one, &__two
        margin-bottom: 10px
  .modal
    &__dialog
      width: 95%
      padding-left: 35px
      padding-right: 35px

@media ( max-width: 521px )
  .hero
    &-info
      padding: 300px 0 10px 28px
  .trend
    &-container
      max-width: 400px
    &-bottom
      &__title
        font-size: 16px
        line-height: 20px
        margin-top: 13px
        margin-bottom: 3px
      &__price
        font-size: 14px
        line-height: 24px
      &__card
        width: 180px
        height: 275px
      &__background
        height: 210px
        padding: 70px 10px 10px 10px
  .card
    &-image
      height: 210px
  .newsletter
    &-wrapper
      padding: 64px 20px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &__text
      font-size: 16px
      line-height: 28px
      margin-bottom: 36px
    &__input
      padding: 13px 0 13px 48px
      width: 100%
      height: 48px
      margin-bottom: 10px
    &__button
      padding: 12px 24px
      position: static
      max-width: none
      width: 100%
      height: 48px
    &__icon
      top: 18px
  #subscribe-error
    margin-left: 49px
    font-size: 10px
    top: 32px
@media ( max-width: 678px )
  .hero
    &-info
      background-position: 68% 50%
@media ( max-width: 587px )
  .hero
    &-info
      background-position: 72% 50%
  .header
    &-close
      top: 16px
    &-list
      align-items: flex-start
      flex-direction: column
    &-button
      width: auto
  .navbar
    &__menu
      width: 304px
      height: 324px
@media ( max-width: 500px )
  .hero
    &-info
      background-position: 74% 50%
  .modal
    &__dialog
      padding-left: 20px
      padding-right: 20px
@media ( max-width: 454px )
  .hero
    &-info
      background-position: 76% 50%
  .stories
    &-slider
      width: 280px
  .block, .card
    width: 280px
    .swiper-slide__image
      width: 270px
      height: 277px
  .swiper-slide__text
    width: 270px
    height: 150px
@media ( max-width: 420px )
  .trend
    margin-bottom: 48px
    &-top
      margin-bottom: 36px
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &-category
      &__one, &__two, &__three
        margin-left: 16px
      &__one
        margin: 0
    &-bottom
      &__card
        width: 140px
        height: 234px
        margin-left: auto
        margin-right: auto
        &:nth-child(8), &:nth-child(7)
          margin-left: auto
          margin-right: auto
      &__background
        height: 170px
        padding: 40px 10px 23px 10px
      &__info
        justify-content: start
      &__price
        margin-right: 9px
  .card
    &-image
      height: 170px

@media ( max-width: 400px )
  .hero
    &-info
      padding: 300px 28px 10px 28px
      text-align: center
    &-badges, &-title, &-text
      margin: auto
    &-badges
      max-width: 196px
      padding: 2px 26px 2px 26px
      margin-bottom: 22px
    &-title
      margin-bottom: 20px
      font-size: 32px
      line-height: 40px
    &-text
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
    &-button
      margin-bottom: 22px
      padding: 13px 49px
      font-size: 16px
      line-height: 22px
    &-advantages
      align-items: center

@media ( max-width: 630px )
  .collection
    &-title
      font-size: 40px
      text-align: center
    &-text
      text-align: center
    &-view
      display: none

@media ( max-width: 679px )
  .header
    padding: 26px 0 18px 0
    margin-bottom: 30px

@media ( max-width: 340px )
  &-bottom
    &__card
      margin-left: 0
      margin-right: 0
      &:nth-child(8), &:nth-child(7)
        margin-left: 0
        margin-right: 0
@media ( max-width: 320px )
  .container
    max-width: 272px
  .collection
    margin-bottom: 110px
    &-text
      max-width: 280px
    &-container
      max-width: 290px
  .header
    padding: 18px 0 18px 0
    margin-bottom: 24px
  .hero
    margin-top: 88px
    &-container
      margin-bottom: 64px
    &-info
      background-image: url('../img/hero-mobile.jpg')
      background-repeat: no-repeat
      background-size: cover
      padding: 383px 23px 38px 23px
      text-align: center
    &-badges, &-title, &-text
      margin: auto
    &-badges
      max-width: 196px
      padding: 2px 26px 2px 26px
      margin-bottom: 19px
    &-title
      margin-bottom: 20px
      font-size: 32px
      line-height: 40px
    &-text
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
    &-button
      margin-bottom: 22px
      padding: 13px 49px
      font-size: 16px
      line-height: 22px
    &-advantages
      flex-direction: row
      flex-wrap: wrap
      &__one, &__two
        margin-bottom: 16px
      &__text
        margin-right: 0
      &__one
        margin-right: 15px
      &__three
        margin: auto
    &-icon
      width: 24px
      height: 24px
      border: 0.5px solid #1565D8
      border-radius: 8px
  .collection
    margin-bottom: 110px
    &-photo
      margin-bottom: 19px
      grid-template-columns: 138px 138px
      grid-template-rows: 186px 100px 97px
      &__new
        &--row
          grid-column: 1 / 3
    &-title
      margin-bottom: 20px
      font-size: 28px
      line-height: 36px
      text-align: center
    &-text
      font-size: 16px
      line-height: 28px
      text-align: center
      margin-bottom: 0
    &-view
      display: none
  .trend
    &-category
      &__one, &__two, &__three
        font-size: 16px
        line-height: 22px
      &__two, &__three
        margin-left: 12px
    &-bottom
      &__title
        margin: 12px 9px 1px 0px
      &__icon
        width: 14px
        height: 14px
      &__price
        margin-right: 13px
      &__info
        margin: 0px 0px 0px 0px
      &__card
        margin-bottom: 19px
      &__iconp
        width: 25px
        height: 25px
        margin-bottom: 21px
      &__background
        padding-top: 45px
  .reviews
    margin-bottom: 67px
  .swiper
    &-text
      height: 360px
      padding: 0
      font-size: 18px
      line-height: 36px
      text-align: center
      letter-spacing: 0.12px
      margin-bottom: 24px
      width: 266px
    &-title
      margin-bottom: 41px
      width: 145px
    &-icon
      margin-bottom: 27px
      width: 69px
      height: 61px
  .stories
    margin-bottom: 64px
    &-container
      padding-top: 42px
    &-title
      font-size: 28px
      line-height: 36px
      width: 291px
      margin-top: 20px
      margin-bottom: 16px
    &-text
      font-size: 16px
      line-height: 28px
    &-tabs
      width: 111px
      margin-bottom: 26px
      &__next, &__prev
        width: 48px
        height: 48px
  .newsletter
    &__input
      width: 280px
  .footer
    padding: 48px 63px 73px 21px
    &__block
      margin-bottom: 15px
    &-info
      margin-bottom: 31px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__link
      font-size: 14px
      line-height: 20px
    &__text
      margin-bottom: 20px
      margin-top: 16px
      width: 261px
      font-size: 14px
      line-height: 24px
    &__item
      margin-bottom: 15px

@media ( max-width: 812px ) and ( max-height: 375px ) and ( orientation: landscape )
  .modal
    overflow: scroll
    &__dialog
      overflow: auto
      height: 300px
